name: Notify Slack V
permissions:
  contents: write
  pull-requests: write
on:
  workflow_dispatch: {}

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: hi
        run: |
          sudo apt-get update
          echo "byebye"
          exit 1

      - name: Notify Slack
        uses: 8398a7/action-slack@v3
        if: always()
        with:
          status: ${{ job.status }}
          text: |
            Job ${{ job.status }}. <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|View details on GitHub>
          fields: repo,message,commit,author,action,eventName,ref,workflow,job,took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MSG_SUCCESS: ':white_check_mark: The build was successful!'
          MSG_FAILURE: ':x: The build failed.'
